KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.asm.o \
$(ARCHDIR)/gdt/gdt.o \
$(ARCHDIR)/gdt/gdt.asm.o \
$(ARCHDIR)/idt/idt.o \
$(ARCHDIR)/idt/idt.asm.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/log.o \
$(ARCHDIR)/kstart.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/isr.o \
